body {
    font-family: 'Crete Round', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}


.img-full {
    min-width: 100%;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}




.live-tile{
    margin: 0px;
}

.bottom-image{
    clear: left;
}

.middle-image{
    left: 470px;
    position: relative;
    top: -295px;
    width: 640px;
    height: 0px;
}

.right-image{
    float: left;
    height: 0;
    left: 940px;
    position: relative;
    top: -295px;
}

.bottom-slide{
    float: left;
    height: 0;
    left: 1099px;
    position: relative;
    top: -375px;
}

.right-tagline{
    left: 955px;
    position: absolute;
    top: 150px;
}

.right-small-image{
    left: 955px;
    position: absolute;
    top: 230px;
    width: 159px;
}

.footer-image{
    height: 0;
    left: 0;
    position: relative;
    width: 1249px;
    height: 50px;
}

.custom-height{
    height: 375px !important;
}

.small-title-one{
    left: 476px;
    position: absolute;
    top: 299px;
    width: 200px;
}

.small-title-two{
    left: 955px;
    position: absolute;
    top: 310px;
    width: 159px;
}

.title{
    left: 50px;
    position: absolute;
    top: 390px;
    width: 1150px;
}

.home-div{
    height: 769px;
}

.common-bg{
   /* background: url('../img/pages-bg.jpg');*/
    /*background-size: cover;*/
    background-color: #9e9c9c;
}

.content-area{
    width: 1280px;
    min-height: 769px;
}

.content-box{
    width: 700px;
    background-color: #5A4436;
    margin: 100px 0;
    display: inline-block;
}

.content-box h2{
    text-align: left;
    padding: 10px 0 0 50px;
    color: #ECCDCA;
    font-weight: normal;
}

.content-box p{
    text-align: justify;
    padding: 0 50px 50px;
    color: #FEFEFE;
    font-size: 15px;
}

.side-pic{
    display: inline-block;
    width: 400px;
    margin-top: 50px;
}

.photo-upload-selection{
    display: inline-block;
    margin: 50px 0;
}

.fb-cover{
    width: 550px;
    margin: 10px;
    display: inline-block;
}

.photo-upload{
    display: inline-block;
    margin: 50px 0;
    display: none;
}

.photo-upload-edit{
    display: inline-block;
    margin: 50px 0;
}

.photo-upload-final{
    display: inline-block;
    margin: 50px 0;
    padding-left: 300px;
    display: none;
}

.final-image{
    margin-bottom: 50px;
}

.component{
    position: relative;
    background: url(../img/cropping/gridme.png) repeat center center;
    padding: 10px;
    height: 500px;
    border: 3px solid #49708A;
    width: 840px;
    overflow: hidden;
}

.overlay{
    left: 45%;
    top: 40%;
    width: 240px;
    height: 300px;
}

.overlay:after, .overlay:before{
    width: 244px;
}

.overlay-inner:after, .overlay-inner:before{
    height: 304px;
}

.a-tip{
    color: #49708A;
    padding: 1em;
}

.a-tip span{
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
}

.white-text{
    color: #fff;
}

.photo-download{
    display: inline-block;
    margin: 50px 0;
}

.cover-image{
    margin-bottom: 50px;
}

.video-div {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  width: 45%;
}

.video-caption{
    width: 100%;
    padding-top: 10px;
}

/* Landscape phones and down */
@media (max-width: 480px){
    
    .navbar-default{
        height: 90px;
        padding-top: 25px;
    }
    
    .mute-icon{
        left: 0;
        top: 0;
    }
    
    .social-media-buttons{
        left: 75%;
        top: 0;
    }
    
    .navbar .nav > li{
        z-index: 9999;
        background-color: #F6F4B1;
    }
    
    .content-area{
        width: 100%;
        margin: 0 auto;
    }
    
    .content-box{
        width: 70%;
        margin: 25px 0;
    }
    
    .side-pic{
        width: 30%;
    }
    
    .fb-cover{
        width: 45%;
    }
    
    .content-box h2{
        padding-left: 10px;
        font-size: 20px;
    }
    
    .content-box p{
        font-size: 12px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    
    .content-area{
        width: 100%;
        margin: 0 auto;
        min-height: 0;
    }
    
    .content-box{
        width: 70%;
        margin: 50px 0;
    }
    
    .side-pic{
        width: 30%;
    }
    
    .fb-cover{
        width: 45%;
    }
    
    .content-box h2{
        padding-left: 25px;
    }
    
    .content-box p{
        font-size: 12px;
        padding-right: 25px;
        padding-left: 25px;
    }
    
    .live-tile{
        height: 40px;
    }
    
    .live-tile{
        width: 40px;
    }
    
    .live-tile.two-tall{
        height: 80px;
    }
    
    .live-tile.two-wide{
        width: 80px;
    }
    
    .live-tile.three-tall{
        height: 120px;
    }
    
    .live-tile.three-wide{
        width: 120px;
    }
    
    .bottom-image{
        width: 36.5%;
    }
    
    .middle-image {
        height: 0;
        left: 120px;
        position: relative;
        top: -75px;
        width: 36.6%;
    }
    
    .right-image {
        float: left;
        height: 0;
        left: 241px;
        position: relative;
        top: -72px;
        width: 43px;
    }
    
    .bottom-slide {
        float: left;
        height: 0;
        left: 280px;
        position: relative;
        top: -94px;
    }
    
    .right-tagline {
        left: 255px;
        position: absolute;
        top: 40px;
        width: 80px;
    }
    
    .right-small-image {
        left: 255px;
        position: absolute;
        top: 61px;
        width: 40px;
    }
    
    .footer-image {
        height: 50px;
        left: 0;
        position: relative;
        width: 97.6%;
    }
    
    .small-title-one {
        left: 135px;
        position: absolute;
        top: 80px;
        width: 49px;
    }
    
    .small-title-two {
        left: 255px;
        position: absolute;
        top: 80px;
        width: 40px;
    }
    
    .title {
        left: 20px;
        position: absolute;
        top: 105px;
        width: 83.6%;
    }
    
    .custom-height {
        height: 94px !important;
    }
    
    .home-div{
        height: auto;
        width: 360px !important;
    }
    
    footer {
        margin: 0 auto;
        width: 330px;
    }

}

