.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  margin-bottom: 0px;
	z-index: 999;
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  margin: 0 auto;
  width: 100%;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
.owl-nav-hidden .owl-nav{display: none !important;}
.owl-carousel:hover .owl-prev,.owl-carousel:hover .owl-next{opacity: 100;transform:translate3d(0px, 0px, 0px);}
.owl-next{opacity: 0;transform:translate3d(-60px, 0px, 0px);}
.owl-prev{opacity: 0;transform:translate3d(60px, 0px, 0px);}
.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next{display: inline-block !important;position: absolute;right: 0px;top: 50%;height: 60px;width: 60px;z-index: 9999;margin-top: -30px;text-align: center;transition:all 0.3s ease-out 0s;background: none;}
.blog-post-inner.owl-carousel .owl-controls .owl-nav .owl-prev,.blog-post-inner.owl-carousel .owl-controls .owl-nav .owl-next{margin-top:-132px;}
.owl-carousel .owl-controls .owl-nav .owl-prev i,.owl-carousel .owl-controls .owl-nav .owl-next i{font-size: 20px;color: #666;line-height: 24px;margin-top: 18px;}
.owl-carousel .owl-controls .owl-nav .owl-prev{right: inherit;left: 0px;}
.dots-show .owl-dots{display: inline-block;width: 100%;text-align: center;position: absolute;bottom: 20px;left: 0px;}
.dots-show .owl-dots .owl-dot{height: 10px;width: 10px;background: #c6bdae;border-radius: 50%;margin: 0 3px;display: inline-block;}
.dots-show .owl-dots .owl-dot.active{background: #2b2e37;}
/************************************ Owl Carousel Controls *********************************/
.bottom-home1 .owl-carousel .owl-item{padding: 0px;}
.wrap-slider-testti .owl-controls{display: none;}
/*Controls*/
.bottom-home1 .owl-carousel .owl-controls .owl-nav .owl-prev,.bottom-home1 .owl-carousel .owl-controls .owl-nav .owl-next{height: 30px;width: 30px;background: #eee;top: -75px;margin-top: 0px;box-shadow: 0 0 0 2px #eee inset;}
.bottom-home1 .owl-carousel .owl-controls .owl-nav .owl-prev{left: inherit;right: 40px;}
.bottom-home1 .owl-carousel .owl-controls .owl-nav .owl-next{right: 0px;}
.bottom-home1 .owl-carousel .owl-controls .owl-nav .owl-prev:hover,.bottom-home1 .owl-carousel .owl-controls .owl-nav .owl-next:hover{background: #ba933e;}
.bottom-home1 .owl-carousel .owl-controls .owl-nav .owl-prev i,.bottom-home1 .owl-carousel .owl-controls .owl-nav .owl-next i{margin-top: 2px;color: #333;font-size: 16px;}
.bottom-home1 .owl-carousel .owl-controls .owl-nav .owl-prev:hover i,.bottom-home1 .owl-carousel .owl-controls .owl-nav .owl-next:hover i{color: #fff;}
/*Responsive*/

@media (max-width: 1024px){
  .owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next{
    right: 0px;
  }
  .owl-carousel .owl-controls .owl-nav .owl-prev{
    right: inherit;
    left:0px;
  }
}
#preloader{
    background-color:#fff;
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    z-index: 99999;
    top: 0px;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  /*background-color: #DDB96D;*/
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
          background-color:#ff5252;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; 
          background-color:#E040FB;
          }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; 
          background-color:#536DFE;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; 
          background-color:#40C4FF;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; 
          background-color:#64FFDA;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; 
          background-color:#B2FF59;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; 
          background-color:#FFFF00;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; 
          background-color:#FFAB40;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; 
          background-color:#FF6E40;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}