
/* =========================================================
Colunms
============================================================ */

.mb-20 {
    margin-bottom: 20px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-0 {
    margin-top: 0 !important;
}

/**
 * =====================================================
 *  Adjust bootstrap grid system padding and margin
 * =====================================================
 */
.row.spacing-5 {
    margin-left: -5px;
    margin-right: -5px;    
}
.row.spacing-5 > * {
    padding-left: 5px;
    padding-right: 5px;
}
.row.spacing-40 {
    margin-left: -40px;
    margin-right: -40px;    
}
.row.spacing-40 > * {
    padding-left: 40px;
    padding-right: 40px;
}


.form-group.required .control-label::after {
    color: red;
    content: " *";
}
.form-inline {
    /*display: inline-block;*/
}
#noscript-warning {
    background-color: #ae0000;
    color: #fff;
    font-family: sans-serif;
    font-size: 120%;
    font-weight: bold;
    left: 0;
    padding: 5px 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/* Custom loading style */
.selectize-control.loading::before {
    opacity: 0.4;
}
.selectize-control::before {
    background: rgba(0, 0, 0, 0) url("../img/spinner.gif") repeat scroll 0 0 / 16px 16px;
    content: " ";
    display: block;
    height: 16px;
    margin: -11px 0 0;
    opacity: 0;
    position: absolute;
    right: 34px;
    top: 50%;
    transition: opacity 0.2s ease 0s;
    width: 16px;
    z-index: 2;
}

/* Bootstrap modal custom styles */
.modal .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}
body .modal-dialog {
    margin: 50px auto;
}

.dataTables_wrapper > .row > .col-sm-12 {
    overflow-x: auto;
}
body .table.dataTable thead > tr > th.nosort {
    padding-right: 8px;
}
body .table.dataTable thead > tr > th:not(.nosort) {
    padding-right: 30px;
}
